---
import Layout from '../layouts/Layout.astro';
import Header from '../components/home/Header.astro';
import WhatIsCounterparty from '../components/home/WhatIsCounterparty.astro';
import Wallets from '../components/home/Wallets.astro';
import Explorers from '../components/home/Explorers.astro';
import Marketplaces from '../components/home/Marketplaces.astro';
import LatestNews from '../components/home/LatestNews.astro';
import Contribute from '../components/home/Contribute.astro';
---

<Layout title="Counterparty - Unlock the Full Potential of Bitcoin">
  <Header />
  <main>
    <WhatIsCounterparty />
    <Wallets />
    <Explorers />
    <Marketplaces />
    <LatestNews />
    <Contribute />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    font-family: 'Readex Pro', system-ui, sans-serif;
  }
</style>