---
const navItems = [
  // { label: "Get Started", href: "/get-started" },
  // { label: "Releases", href: "/releases" },
  { label: "Wallets", href: "/#wallets" },
  { label: "Explorers", href: "/#explorers" },
  { label: "Marketplaces", href: "/#marketplaces" },
  { label: "Docs", href: "https://docs.counterparty.io/", external: true },
  { label: "News", href: "/news" },
  { label: "Projects", href: "/projects" },
];
---

<nav class="bg-white shadow-md fixed top-0 left-0 right-0 z-50">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0 flex items-center">
        <a href="/" class="flex items-center">
          <img src="/images/xcp.svg" alt="Counterparty Logo" class="h-10 w-10 mr-2">
          <span class="text-xl font-medium text-gray-900">Counterparty</span>
        </a>
      </div>
      <div class="hidden md:flex md:items-center md:space-x-4">
        {navItems.map((item) => (
          <a 
            href={item.href} 
            class="text-blue-900 hover:text-counterparty-red px-2 py-2 rounded-md font-light tracking-tighter transition duration-300"
            {...(item.external ? { target: "_blank", rel: "noopener noreferrer" } : {})}
          >
            {item.label}
          </a>
        ))}
      </div>
      <div class="flex md:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-counterparty-red" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      {navItems.map((item) => (
        <a 
          href={item.href} 
          class="text-blue-900 hover:text-counterparty-red block px-3 py-2 rounded-md text-base font-light tracking-tighter transition duration-300"
          {...(item.external ? { target: "_blank", rel: "noopener noreferrer" } : {})}
        >
          {item.label}
        </a>
      ))}
    </div>
  </div>
</nav>

<script>
  const btn = document.querySelector('button[aria-controls="mobile-menu"]');
  const menu = document.getElementById('mobile-menu');

  if (btn && menu) {
    btn.addEventListener('click', () => {
      const expanded = btn.getAttribute('aria-expanded') === 'true' || false;
      btn.setAttribute('aria-expanded', String(!expanded));
      menu.classList.toggle('hidden');
    });
  }
</script>
